.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  left: unset !important;
  height: 100px !important;
  width: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
}